body{background-color:#BF01F9;color:#23082C}
footer {background-color: #23002E; font-family: arial; color:#BF01F9;padding: 10px;
border: 1px dashed #BF01F9; font-style: italic; font-size: 8px;}
#notice {width: 80%; margin:0 auto;}
.classc {border-bottom 2px dashed hsla(210,100%,50%,1.0); color:white;}
#section {font-size:small; font-color:red; font-family: arial; width:80%; box-shadow:2px,2px,2px}
h1 {
  font-size: 4em; font-family: sans-serif;  background-color: rgba(255,135,255,0.5); color:#23082C; 
  padding: 10px;   text-shadow: 2px 2px 4px;
  border: 3px ridge #ffff; border-radius: 15px; border-color: #730195;
}
dl {padding-left: 20px; padding-right:20px; font-size:18px}
h2 {
  font-size:24px; font-family: sans-serif;  background-color: rgba(255,135,255,0.5); color:#23082C; 
  padding: 10px;   text-shadow: 1px 1px 2px;
  border: 3px ridge #ffff; border-radius: 15px; border-color: #730195;}
.goal {font-size: 24px; color:#23082c;}
a:visited {background-color: red;}
a:link {background-color: purple;}
a:hover {text-decoration: none; background-color:hotpink;}